<div class="main-content">
  <form (ngSubmit)="onSubmit()" #weightForm="ngForm" class="weight-form">
    <input
      type="number"
      name="weight"
      [(ngModel)]="weight"
      required
      placeholder="Poids"
      class="weight-input"
    />
    <button type="submit" [disabled]="!weightForm.form.valid" class="submit-btn">
      Envoyer
    </button>
  </form>
    <button (click)="exportAllWeights()" class="export-btn">Exporter</button>

    <div *ngIf="weights && weights.length > 0" class="weights-list">
      <div *ngFor="let w of weights" class="weight-row">
        <span>{{ w.poids }} g</span>
        <button (click)="deleteWeight(w.id)" class="delete-btn">Supprimer</button>
      </div>
    </div>
</div>
